<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/public.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/index.css">
	<script type="text/javascript" src="__PUBLIC__/static/js/jquery-2.2.2.min.js"></script>
	<script type="text/javascript">
	
	</script>
</head>
<body>
	<include file="Public/header" />
	<include file="Public/left_nav" />
	<div class="right_box">
		<form action="__URL__/update" method="post">
		分类名：<input type="text" name="category_name" value="{$result.category_name}"><br>
		排序：<input type="text" name="sort" value="{$result.sort}"><br>
		<input type="hidden" value="{$result.user_id}" name="user_id">
		<input type="hidden" value="{$result.id}" name="id">
		<input type="submit">
		</form>
	</div>
</body>
</html>